<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Pages</th>
            <th scope="col">Release Date</th>
            <th scope="col">Isbn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.releasedate }}</td>
            <td>{{ book.isbn }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>